<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{dd-MMM-yyyy HH:mm:ss} %-5level %class{0}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="main.file" class="ch.qos.logback.core.FileAppender">
        <file>langclub.log</file>
        <encoder>
            <pattern>%date{dd-MMM-yyyy HH:mm:ss} %-5level %class{0}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.langclub" level="DEBUG" additivity="false">
        <appender-ref ref="main.file"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="main.file"/>
    </root>

</configuration>