<!DOCTYPE html>
<html ng-app="langClubApp">

    <head>
    	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    	<link rel="stylesheet" href="css/main.css">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    	<script src="js/ui-bootstrap-tpls-0.13.4.min.js"></script>
    	<script src="js/langClubApp.js"></script>    	
    </head>

    <body ng-controller="generalController">
    
    <div id="main">

        <!-- angular templating -->
        <!-- this is where content will be injected -->
        <div ng-view></div>

    </div>
    
    	<div></div>
    
    	<ol>
    		<li ng-repeat="tab in tabs">{{tab.name}}</li>
    	</ol>
    
    	<tabset>
    		<tab ng-repeat="tab in tabs">
    			<h1>{{tab.name}}</h1>
    		</tab>
    	</tabset>
    </body>

</html>