<md-tabs md-dynamic-height>
    <md-tab label="Profile settings">
        <md-content>
            <div layout="row">
                <div flex="50">
                    <h2>Personal data</h2>
                    <form name="personalUserDataForm">
                        <md-input-container>
                            <label>Nickname</label><input name="nickname" ng-model="user.personalUserData.nickname" required md-maxlength="30">
                            <div ng-messages="personalUserDataForm.nickname.$error" ng-show="personalUserDataForm.nickname.$dirty">
                                <div ng-message="required">This is required!</div>
                                <div ng-message="md-maxlength">That's too long!</div>
                                <div ng-message="minlength">That's too short!</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>Full name</label><input name="fullName" ng-model="user.personalUserData.fullName" required>
                            <div ng-messages="personalUserDataForm.fullName.$error" ng-show="personalUserDataForm.fullName.$dirty">
                                <div ng-message="required">This is required!</div>
                                <div ng-message="md-maxlength">That's too long!</div>
                                <div ng-message="minlength">That's too short!</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>Email</label><input name="email" ng-model="user.personalUserData.email" required>
                            <div ng-messages="personalUserDataForm.email.$error" ng-show="personalUserDataForm.email.$dirty">
                                <div ng-message="required">This is required!</div>
                                <div ng-message="md-maxlength">That's too long!</div>
                                <div ng-message="minlength">That's too short!</div>
                            </div>
                        </md-input-container>
                    </form>
                </div>
                <md-divider></md-divider>
                <div flex="50">
                    <h2>Languages</h2>
                    <!--<md-chips ng-model="user.languages" md-on-append="addLanguageChip($chip)" placeholder=" + Language: Level">-->
                        <!--<md-chip-template>-->
                            <!--<strong>{{$chip.language}}</strong>: <em>{{$chip.level}}</em>-->
                        <!--</md-chip-template>-->
                    <!--</md-chips>-->
                </div>
            </div>
            <md-divider></md-divider>
            <md-button ng-click="setStubUserSettings()">Set test data</md-button>
            <md-button ng-click="saveUserData()">Save</md-button>
        </md-content>
    </md-tab>
    <md-tab label="Connected accounts">
        <md-content>

        </md-content>
    </md-tab>
    <md-tab label="Photo">
        <md-content>

        </md-content>
    </md-tab>
    <md-tab label="Payment settings">
        <md-content>

        </md-content>
    </md-tab>
</md-tabs>