<md-tabs md-dynamic-height>
    <md-tab label="Browse">
        <md-content>
        	<form>
        		<md-input-container>
        			<label>Search</label>
        			<input></input>
        		</md-input-container>
        	</form>
        	<md-content class='md-padding' layout="row" flex>
     			<div layout="row" flex>
     				<!-- <md-virtual-repeat-container md-top-index="confIndex"> -->
        				<div layout="column" ng-repeat="conference in conferences" flex>
        					<md-card>
								<img src="https://c1.staticflickr.com/1/599/21904032483_d4ae531250_m_d.jpg" class="md-card-image" alt="image caption">
								<md-card-content>
									<h2>Card headline</h2>
									<p>Card content {{conference.id}}</p>
								</md-card-content>
								<md-card-footer>
									Card footer
								</md-card-footer>
        					</md-card>            
        				</div>
        			<!-- </md-virtual-repeat-container> -->
     			</div>
        	</md-content>
        </md-content>
    </md-tab>
    <md-tab label="Appointments">
        <md-content>

      </md-content>
    </md-tab>
    <md-tab label="Create own conference">
        <md-content>
	        <form name="createConferenceForm">
	            <md-input-container>
	                <label>When</label><md-datepicker name="whenDate" ng-model="newConference.whenDate"></md-datepicker>
	                <div ng-messages="createConferenceForm.whenDate.$error" ng-show="createConferenceForm.whenDate.$dirty">
	                    <div ng-message="required">This is required!</div>
	                    <div ng-message="md-maxlength">That's too long!</div>
	                    <div ng-message="minlength">That's too short!</div>
	                </div>
	            </md-input-container>
	            <md-input-container>
	                <label>Topic</label><input name="topic" ng-model="newConference.topic" required>
	                <div ng-messages="createConferenceForm.topic.$error" ng-show="userPersonalDataForm.fullName.$dirty">
	                    <div ng-message="required">This is required!</div>
	                    <div ng-message="md-maxlength">That's too long!</div>
	                    <div ng-message="minlength">That's too short!</div>
	                </div>
	            </md-input-container>
	            <md-input-container>
	                <label>Email</label><input name="email" ng-model="user.userPersonalData.email" required>
	                <div ng-messages="userPersonalDataForm.email.$error" ng-show="userPersonalDataForm.email.$dirty">
	                    <div ng-message="required">This is required!</div>
	                    <div ng-message="md-maxlength">That's too long!</div>
	                    <div ng-message="minlength">That's too short!</div>
	                </div>
	            </md-input-container>
	        </form>
        </md-content>    	
    </md-tab>
    <md-tab label="History">
        <md-content>
        </md-content>
    </md-tab>
</md-tabs>